<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <!-- <mat-label>Number</mat-label> -->
        <input type="text" placeholder="Search for start" aria-label="Start" matInput [formControl]="startFilterControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredStart | async" [value]="option.name"
                (onSelectionChange)="selected('start', option)">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <!-- <mat-label>Number</mat-label> -->
        <input type="text" placeholder="Search for end" aria-label="End" matInput [formControl]="endFilterControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredEnd | async" [value]="option.name"
                (onSelectionChange)="selected('end', option)">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</form>
<!-- <pre>{{airports$ | async | json}}</pre> -->
