<!-- <div class="wrapper"> -->
<!-- <input type="text" />
    <ul>
        <li *ngFor="let origin of origins">{{ origin.name }}</li>
    </ul> -->

<form class="wrapper example-form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
        <input
            type="text"
            placeholder="Origin airport"
            aria-label="Origin airport"
            matInput
            [formControl]="originControl"
            [matAutocomplete]="origin"
        />
        <mat-autocomplete #origin="matAutocomplete">
            <mat-option
                *ngFor="let origin of origins$ | async"
                [value]="origin.iata"
            >
                {{ origin.name }} ({{ origin.country }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input
            type="text"
            placeholder="Destination airport"
            aria-label="Destination airport"
            matInput
            [formControl]="destinationControl"
            [matAutocomplete]="destination"
        />
        <mat-autocomplete #destination="matAutocomplete">
            <mat-option
                *ngFor="let destination of destinations$ | async"
                [value]="destination.iata"
            >
                {{ destination.name }} ({{ destination.country }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <section>
        <button mat-flat-button color="primary">Search</button>
    </section>
</form>

<pre *ngIf="result && result.distance">{{ result | json }}</pre>
<pre *ngIf="result && result.status && result.status === 404">
No results found</pre
>
<div class="spinner">
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
</div>
